/* Exercício 1: Criar uma transição para quando o mouse estiver em cima dos
 * botões play/stop (para que o elemento se revele lentamente)
 */
#controles { z-index: 10; }
#controles ul{
	-webkit-transition: transform 500ms ease-in;
	-moz-transition: transform 500ms ease-in;
	-o-transition: transform 500ms ease-in;
	transition: transform 500ms ease-in;
}
/*
 * Exercício 2: Criar uma imagem sprite com as imagens de todos os 9 animais e,
 * assim, fazer com que a página carregue mais rápido.
 *
 * Dica: você vai precisar alterar o caminho da imagem (para apontar para a
 * sprite). O código html das imagens dos animais é gerado dinamicamente por
 * jogo.js. Mais especificamente, procure pela função preencheAnimaisNaTela().
 */
.animal_desconhecido{ display: inline-block;}
.animal_desconhecido img{
	width: 200px;
	height: 200px;
	padding: 10px;
	border-radius: 110px;
	border: 2px solid white;
	background-color: #fff;
	transition: border-color 250ms ease-out;
}
.animal { width: 200px; height: 200px; overflow: hidden; position: relative; }
.animal img { position: absolute; top: 0; width: 1800px; height: 200px; border-radius: 0; padding: 0; }
#peixe img { left: -1200px; }
#leao img { left: -1000px; }
#gato img { left: -400px; }
#cachorro img { left: 0; }
#girafa img { left: -600px; }
#rato img { left: -1400px; }
#hipopotamo img { left: -800px; }
#coelho img { left: -210px; }
#urso img { left: -1600px; }

/*
 * Exercício 3: Você deve implementar uma metáfora visual para cada um dos 4
 * estados dos animais. Algumas sugestões:
 *   - agitado: animal piscando (opacidade variando)
 *   - alimentado: uma borda verde no animal e o animal fica girando de alegria
 *   - perturbado: animal fica pulsando
 *   - instinto-selvagem: animal dá um salto e cresce, com uma borda vermelha
 */

.agitado { border: 2px solid blue; }
.agitado img {
	opacity: 0.5;
	filter: alpha(opacity = 50);
	-webkit-transition: all 400ms linear; /* Safari */
	transition: all 400ms linear;
}

.alimentado {
	border: 3px solid green;
	transform: rotateY(360deg);
	-ms-transform: rotateY(360deg);
	-webkit-transform: rotateY(360deg);
	-webkit-transition: all 800ms linear; /* Safari */
	transition: all 800ms linear;
}
.alimentado img { }

.perturbado { border: 2px solid rgb(255, 113, 26);
	transform: rotateX(180deg);
	-ms-transform: rotateX(180deg);
	-webkit-transform: rotateX(180deg);
	-webkit-transition: all 500ms linear; /* Safari */
	transition: all 500ms linear;
}
.perturbado img { }

.instinto-selvagem {
	border: 3px solid red;
	transform: scale(1.2);
	-ms-transform: scale(1.2);
	-webkit-transform: scale(1.2);
	-webkit-transition: all 500ms linear; /* Safari */
	transition: all 500ms linear;
}
.instinto-selvagem img { }
